.movie-card {
  font-family: 'Noto Sans Display', sans-serif;
  color: black;
  width: 16rem;
  text-align: center;
  box-shadow: 6px 5px 12px;
  transition-duration: .5s;
  transform: translateY(-2px);
  &:hover {
    transform: translateY(2px);
    transition-duration: .5s;
  }
}