.signedInContainer {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbarLinkText {
  &:hover {
    color: red;
  }
}

.logOutButton {
  &:hover {
    color: red;
    cursor: pointer;
  }
}