.movie-view {
  font-family: 'Noto Sans Display', sans-serif;
  display: flex;
  flex-direction: column;
}

.label {
  font-family: 'Creepster', cursive;
  font-size: 45px;
  letter-spacing: 2px;
}

.movie-poster {
  width: 100%;
}
