.navbarSkullify {
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0,.6);
  z-index: 1000;
}

.skullifyBrand {
  font-family: 'Nosifer', cursive;
  color: red;
  letter-spacing: 3px;
}